<div>
    <h4 class="f-red">Account Registration</h4>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input disabled" type="text" formControlName="userName" placeholder=" " />
    <label class="did-floating-label h-font-xs">User Name</label>
  </div>
  <div *ngIf="passwordForm.get('userName').hasError('required') && passwordForm.get('userName').touched" class="text-danger cus-margin">
    User Name is required.
  </div>
  <div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="password" formControlName="password" placeholder=" " />
    <label class="did-floating-label h-font-xs">New Password</label>
  </div>
  <div *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password is required.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('pattern') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must have at least 8 characters, including uppercase, lowercase, digit, and special character.
  </div>
  <!-- <div *ngIf="passwordForm.get('password').hasError('pattern') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('minlength') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must have at least 8 characters.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('patternUppercase') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must contain at least one uppercase letter.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('patternLowercase') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must contain at least one lowercase letter.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('patternDigit') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must contain at least one digit.
  </div>
  <div *ngIf="passwordForm.get('password').hasError('patternSpecial') && passwordForm.get('password').touched" class="text-danger cus-margin">
    Password must contain at least one special character.
  </div> -->
  
<div class="did-floating-label-content mt-4">
    <input class="did-floating-input" type="text" formControlName="confirmPassword" placeholder=" " />
    <label class="did-floating-label h-font-xs">Confirm Password</label>
  </div>
  <div *ngIf="passwordForm.get('confirmPassword').hasError('required') && passwordForm.get('confirmPassword').touched" class="text-danger cus-margin">
    Confirm Password is required.
  </div>
  <div *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword').touched && !passwordForm.get('confirmPassword').hasError('required')" class="text-danger cus-margin">
    Passwords do not match.
  </div> 
  
  
  <input class="button h-font-xs mt-4" type="submit"  value="Register" />
</form>