<div class="modal-header">
  <button
    type="button"
    class="btn-close close pull-righ close-btn"
    aria-label="Close" (click)="navigate()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="mt-3">How did you hear about us?</h4>
    </div>
    <div class="col-12 col-md-6">
      <select name="" class="referral2 mt-2">
        <option value="volvo">Referral</option>
        <option value="volvo">Facebook</option>
        <option value="saab">LinkedIn</option>
        <option value="opel">Friends</option>
        <option value="audi">Instagram</option>
      </select>
    </div>
  </div>
</div>

<div class="modal-body">
  <span
    >Invest in fully managed portofolios with Rakuten Earn RT Points & a brokerage fee rebate for each 
    new account you signup forand then successfully trade in 30days*!</span
  >
  <div>
    <h4 class="mt-3">Documents Checklist</h4>
    <ul class="mt-1 mb-1">
      <li>NRIC required for Singapore citizens</li>
      <li>
        Passport required (front & back image)
      </li>
      <li>
        Bank account information (Account No,Account Name,Bank Name)
      </li>
      <li>
       Mobile required to capture idendity document and selfie.
      </li>
      <li>
        Citizen/PR may have to sign into Singpass to share personam information
      </li>
    </ul>
  </div>
  <!-- <div class="mt-3">
    <h4 class="mt-1 mb-2">Existing Clients</h4>
    <span
      >Keen to open <span class="f-red-clr">another account?</span> Want to
      <span class="f-red-clr">activate foreign share trading service</span>? <b>STOP!</b> Log on
      to your dashboard and share across a few more details. You’ll be done in 5
      minutes.</span
    >
  </div> -->
  <div class="mt-4">* Terms and conditions apply.</div>
  <div class="text-center mt-4">
    <button type="button" class="btn btn-primary" (click)="navigate()">I Understand</button>
  </div>
  
</div>
