<!-- <button type="button" class="btn btn-primary" (click)="openModal()">
  Create template modal
</button> -->

<!-- <ng-template #myModalTemplate>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Terms & Conditions</h6>
    <button
      type="button"
      class="btn-close close pull-righ close-btn"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span
      >Earn RT Points & a brokerage fee rebate for each new account you sign up
      for and then successfully trade in 30 days*!</span
    >
    <div>
      <h6 class="mt-3">Documents Checklist</h6>
      <ul class="mt-1 mb-1">
        <li>NRIC / Passport Image (front & back)</li>
        <li>
          (if permanent and residential address differs) utility / phone bill
        </li>
      </ul>
    </div>
    <div class="mt-3">
      <h6 class="mt-1 mb-2">Existing Clients</h6>
      <span
        >Keen to open <span>another account?</span> Want to
        <span>activate foreign share trading service?</span> <b>STOP!</b> Log on
        to your dashboard and share across a few more details. You’ll be done in
        5 minutes.</span
      >
    </div>
    <div class="mt-4">* Terms and conditions apply.</div>
    <div class="text-center mt-4">
      <button type="button" class="btn btn-primary">OK</button>
    </div>
  </div>
</ng-template> -->
