<div class="modal-body text-center">
  <div class="mt-4">Continue With</div>
  <div class="mt-4">
    <img src="../../../../../../../../assets/icons/singpass-logo.png" />
    <div>
      <button
        type="button"
        class="btn btn-primary me-4 btn-block mt-4 mb-4 customBtn h-font-xs allow"
        (click)="redirectToSingpass()"
      >
        Allow
      </button>

      <button
        type="button"
        class="btn btn-primary btn-block mt-4 mb-4 customBtn h-font-xs deny"
        (click)="closeModal()"
      >
        Deny
      </button>
    </div>
  </div>
</div>
