<div class="text-center">
<div class="row mt-2 mb-2">
    <div class="col-10 fw-bold fs-5 cmn-clr">
        singpass
    </div>
    <div class="col-2">
        <div class="menu-bar"></div>
    </div>
</div>
<div class="mt-2 ">
    <div class="mt-5">
        <div class="cmn-head">Beware of phishing SMSes and websites</div>
        <p class="mt-4 content-fs">There is an increase in fake SMSes redirecting to fake Singpass websites phishing for Singpass login details. Always check that the URL domain of the Singpass website is singpass.gov.sg before you proceed. Singpass does not send hyperlinks or QR codes through SMSes or WhatsApp.</p>
        <div class="cmn-head mt-3">Log in with Singpass</div>
        <p class="mt-1 content-fs">Your trusted digital identity</p>
    </div>
</div>
<div>
    <div class="row mt-5">
    <div class="tab-switch col-6">
       <span class="cmn-clr">Singpass App</span>
    </div>
    <div class="col-6 clr-gray">
       <span>Pasword login</span>
    </div>
    </div>
</div>
<div class=" mt-4">
    <div>
        Top QR Code
    </div>
    <span class="clr-gray content-fs-fs">to log in with Singpass app</span>
    <div class="qr-code">

    </div>
</div>
</div>