nav {
  background-color: #fff;
  color: black;
  padding: 20px 150px;
}

button,
input {
  font-size: 12px;
  font-weight: 500;
}

button {
  text-transform: uppercase;
}

.btn-danger {
  background-color: #e4293e;
}

img {
  width: 220px;
}
