<div class="d-flex">
  <h4 class="f-red">Declaration</h4>
</div>
<form [formGroup]="declarationForm" (ngSubmit)="onSubmit()">
<div class="h-font-xs">
    <div class="mt-3">
        <p class="red-astrick">FATCA Declaration</p>
        <label class="f-light_gray">
        <input type="radio" name="fatcaDeclaration" formControlName="fatcaDeclaration" value="yes">Yes
        <input class="mal-2" type="radio" name="fatcaDeclaration" formControlName="fatcaDeclaration" value="no">No
        </label>
    </div>
    <div *ngIf="declarationForm.get('fatcaDeclaration').hasError('required') && declarationForm.get('fatcaDeclaration').touched"
    class="mt-2 text-danger">
    Please fill the mandatory field
  </div>
    <div class="mat-2">
        <p class=" red-astrick">PEP Declaration</p>
        <label class="f-light_gray">
            <input type="radio" name="pepDeclaration" formControlName="pepDeclaration" value="yes">Yes
            <input class="mal-2" type="radio" name="pepDeclaration" formControlName="pepDeclaration" value="no">No
        </label>
    </div>
    <div *ngIf="declarationForm.get('pepDeclaration').hasError('required') && declarationForm.get('pepDeclaration').touched"
    class="mt-2 text-danger">
    Please fill the mandatory field
  </div>
    <div  class="mat-2">
        <p class=" red-astrick">US Tax Withholding And Reporting (W-8BEN)</p>
        <label class="f-light_gray">
            <input type="radio" name="usTax" formControlName="usTax" value="yes">Yes
            <input class="mal-2" type="radio" name="usTax" formControlName="usTax"  value="no">No
        </label>
    </div>
    <div *ngIf="declarationForm.get('usTax').hasError('required') && declarationForm.get('usTax').touched"
    class="mt-2 text-danger">
    Please fill the mandatory field
  </div>
    <div  class="mat-2">
        <p class=" red-astrick">Disclosure For Cross Selling</p>
        <label class="f-light_gray">
            <input type="radio" name="disclosure" formControlName="disclosure" value="yes">Yes
            <input class="mal-2" type="radio" name="disclosure" formControlName="disclosure" value="no">No
        </label>
    </div>
    <div *ngIf="declarationForm.get('disclosure').hasError('required') && declarationForm.get('disclosure').touched"
    class="mt-2 text-danger">
    Please fill the mandatory field
  </div>
    <div  class="mat-2">
        <p class=" red-astrick">Foreign Exchange Administration (FEA) Declaration</p>
        <label class="f-light_gray">
            <input type="radio" name="foreign" formControlName="foreign" value="yes">Yes
            <input class="mal-2" type="radio" name="foreign" formControlName="foreign" value="no">No
        </label>
    </div>
    <div *ngIf="declarationForm.get('foreign').hasError('required') && declarationForm.get('foreign').touched"
    class="mt-2 text-danger">
    Please fill the mandatory field
  </div>
    <!-- <div class="terms-and-conditions mat-2">
        <input type="checkbox" id="termsCheckbox" class="custom-checkbox">
        <label for="termsCheckbox">I agree to the terms and conditions</label>
      </div> -->
     
      <div class="terms-and-conditions mat-2">
        <input type="checkbox" id="termsCheckbox" formControlName="termsConditions" class="custom-checkbox">
        <label for="termsCheckbox " class="f-red">Terms & Conditions</label>
      </div>
      <div *ngIf="
      declarationForm.get('termsConditions').hasError('required') &&
      declarationForm.get('termsConditions').touched
    " class="mt-2 text-danger cus-margin mt-0 mb-3">
    Please Agree Terms & Conditions.
  </div>
  <input class="button mat-3 h-font-xs" type="submit" value="Next" />
</div>
</form>