$background-body: #c5343a2b;
$red: #e4293e;
$black: #000000;
$grey: #cccccc;
$grey-1: #E7EBF1;
$font_red: #c1272d;
$light_gray: #757575;
$tab-red: #ed1a3b;
$white: #fff;
$white-v1:#ffffff;
$gray-v: #888;
$gray-v2:#7b7b7b;
$dark-gray:#323840;
$dark-red:#9d3b3b;
$light-red:#e62b40;
$green:#52a849;
